html {
    font-family: Vollkorn; 
}

body {
    padding: 0px;
}

nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0a0a23;
  }

.navbar {
    /* display: grid; */
    /* grid-template-columns: 80px auto; */
    border-bottom: 1px solid black;
    background-color: white;
    width: 100%;
}

.links {
    grid-auto-flow: column;
    display: grid;
    text-align: center;
    float: right;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.infobox {
    padding: 30px;
    border: 1px solid black;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.textblock {
    font-size: x-large;
}

.space {
    padding: 80px;
    margin: 40px;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

.spectrum-background {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}